body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #D1C4C4;
    position: relative;
    gap: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: calc(100vh);
    background: #FFFAF0;
}

.modes {
    position: absolute;
    top: 10%;
    left: 5%;
}

.row {
    display: flex;
    align-items: stretch;
    flex: auto;
}

.pixel {
    background-color: lightgray;
    flex: auto;
    border: 1px solid lightcyan;
    cursor: pointer;
}

.pixelated {
    background-color: black;
}

button {
    cursor: pointer;
    font-size: 32px;
    border-radius: 5px;
}

.buttons {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

#newGrid {
    background-color: #2B83AC;
}

#randomRGB {
    background-image: linear-gradient(90deg, rgba(255, 10, 10, 0.8), rgba(10, 255, 10, 0.8), rgba(10,10, 255, 0.8));
}

#sketchMode {
    background-image: linear-gradient(to bottom right, white, black);
}